<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>รักฉันโกหกทั้งนั้น</title>
</head>
<body>
    <header style="background-color: white;">
        <a href="#">เข้าสู่ระบบ</a>
        <a href="#">สมัครสมาชิก</a>
    </header>
    <div>
        <h1>Novelverse</h1>
        <p>ตอนที่1</p>
    </div>
    <footer style="background-color: #49556D;">
        <h5>Copyright</h5>
    </footer>
</body>
</html>