<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Novelverse</title>
</head>
<body>
    <header style="background-color: #143781;">
        <a href="#">เรื่อง:แมวน้ำรีบนอน</a>
        <a href="#">ตอนที่1</a>
    </header>
    <div>
        <h1>เรื่องย่อ:4545454545454</h1>
    </div>
    <footer style="background-color: #49556D;">
        <h5>Copyright</h5>
    </footer>
</body>
</html>